{% load static %}
autorefresh webpage: <head>
    <meta http-equiv="refresh" content="10">
</head>
<link rel="stylesheet" href="{% static 'css.css' %}" type="text/css">
<div class="all_elements">
<div id="heading">
    <h2>
        <div class="chat_heading">
            COVIDbox | Let's join together
        </div>
    </h2>
    
</div>
<div class="chat_body">
    {% for i in message %}
        <div class="messages">
            <div class="msg_text">
                {{i.name}} : {{i.message}}
            </div>
        </div>
    {% endfor %}
</div>
<div class="new_message">
    <form action="send_message" method="POST">
        {% csrf_token %}
        <div class="msg_form">
            <div class="message_box">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Type your message" name="message">
            </div>
            <div class="send">
                <input type="submit" value="send">
            </div>
        </div>
    </form>
</div>

</div>